In [73]:
import pandas as pd

In [75]:
ut_df=pd.read_csv('utah-census-1880.csv')

In [77]:
pd.set_option('display.max_columns', None)
ut_df.sample(12)

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthstate,fbirthplace,mbirthplace
124431,0297A_41_HAWLEY_20,0297A,41,22784,Pleasant Grove Precinct,UTAH,40,42,HAWLEY,SARAH,E,1,f,20.0,0,daughter,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,NEW YORK
115651,0199C_43_AINGE_4,0199C,43,21248,Spanish Fork City and Precinct,UTAH,356,356,AINGE,JOHN,NaN,1,m,4.0,0,son,NaN,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,IOWA
96159,0340B_45_STEWART_6,0340B,45,23553,Wallsburgh Precinct,WASATCH,57,57,STEWART,OWEN,T,1,m,6.0,0,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,CALIFORNIA,IOWA
28552,0326D_38_LAWSON_18,0326D,38,4608,Castledale Precinct,EMERY,46,46,LAWSON,HANNAH,NaN,1,f,18.0,0,servant,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
132184,0424D_19_MCCORMICK_32,0424D,19,24832,Ogden City 2nd Ward,WEBER,38,38,MCCORMICK,JOHANA,NaN,1,f,32.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,IRELAND,IRELAND,IRELAND
122314,0274B_36_COOPER_19,0274B,36,22272,"""Lehi City, Lehi Precinct""",UTAH,264,277,COOPER,ROZILA,NaN,1,f,19.0,0,wife,m,y,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,TENNESSEE,KENTUCKY
134505,0449B_17_HORROCKS_3,0449B,17,25088,Ogden City 3rd Ward,WEBER,82,82,HORROCKS,LAURA,L,1,f,3.0,0,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND
27654,0114C_36_FITZGERALD_18,0114C,36,1793,Promontory Precinct,BOX ELDER,23,17,FITZGERALD,MARY,NaN,1,f,18.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,MICHIGAN,IRELAND,IRELAND
18891,0015A_14_SWINDLEHUNT_8,0015A,14,256,Beaver City and Precinct,BEAVER,271,307,SWINDLEHUNT,JOSEPH,R,1,m,8.0,0,son,s,n,AT SCHOOL,0.0,NaN,n,n,n,n,n,y,n,n,UTAH,ENGLAND,ENGLAND
97149,0353B_36_MCKENNA_8,0353B,36,15872,Mt. Pleasant Precinct,SANPETE,123,254,MCKENNA,WILLIAM,NaN,1,m,8.0,0,son,s,n,AT SCHOOL,0.0,NaN,n,n,n,n,n,y,n,n,UTAH,IRELAND,SWEDEN
105568,0445A_35_BARDSLEY_3,0445A,35,17152,Gunnison Precinct,SANPETE,8,8,BARDSLEY,EDWARD,NaN,1,m,3.0,0,son,NaN,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND
137373,0483B_41_COWAN_1,0483B,41,25600,Slaterville Precinct,WEBER,34,34,COWAN,CLARA,NaN,1,f,1.0,0,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,UTAH

A lot of data about marriage and the relationship with the head of the household are missing, and the relationship with the head of the household may be somewhat difficult to define, which is why a relationship like partner is introduced later, otherwise it is difficult to classify when analyzing in the data set. But the information on marriage is missing, and I think that's because the census is too sketchy (which is also a problem in the beginning of the census).

In [79]:
ut_df=ut_df.rename(columns={'birthstate': 'birthplace'})
ut_df.sample(10
        )

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
95137,0329A_33_KETCHUM_42,0329A,33,23041,"""Sunrise, Heber Precinct""",WASATCH,293,293,KETCHUM,JOSEPH,NaN,1,m,42.0,0,NaN,s,n,FARMER,13.0,NaN,n,n,n,n,n,n,n,n,MISSISSIPPI,NEW YORK,NEW YORK
134008,0443B_34_PLUMB_46,0443B,34,24832,Ogden City 1st Ward,WEBER,14,14,PLUMB,HORATIO,NaN,1,m,46.0,0,NaN,s,n,RR CONDUCTOR,0.0,NaN,n,n,n,n,n,n,n,n,NEW YORK,NEW HAMPSHIRE,PENNSYLVANIA
56743,0059A_1_WALKER_10,0059A,1,11009,Salt Lake City 7th Ward,SALT LAKE,278,330,WALKER,MATTHEW,NaN,1,m,10.0,0,son,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND
66298,0157D_30_SUDBERY_48,0157D,30,12545,Salt Lake City 18th Ward,SALT LAKE,283,294,SUDBERY,EMMA,NaN,1,f,48.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
97820,0360D_7_DALLY_15,0360D,7,15872,Mt. Pleasant Precinct,SANPETE,231,384,DALLY,PATIENCE,M,1,f,15.0,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,y,n,n,UTAH,ENGLAND,MASSACHUSETS
10119,0225B_8_CLARKE_10,0225B,8,3328,Clarkston,CACHE,48,48,CLARKE,LOUISA,P,1,f,10.0,0,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,y,n,n,MONTANA,MAINE,ENGLAND
128205,0376A_45_BOND_1,0376A,45,24064,Silver Reef Precinct,WASHINGTON,9,9,BOND,ROBERT,NaN,1,m,1.0,0,son,NaN,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,TENNESSEE,UTAH
92767,0108A_34_HATCH_29,0108A,34,20480,Ashley Precinct,UINTAH,8,8,HATCH,ALVIN,NaN,1,m,29.0,0,NaN,m,n,BLACKSMITH,13.0,NaN,n,n,n,n,n,n,n,n,UTAH,VERMONT,VERMONT
119378,0240C_12_SABIN_2,0240C,12,22016,Salem Precinct,UTAH,20,20,SABIN,GEORGE,NaN,1,m,2.0,0,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ARKANSAS,ARKANSAS
72063,0217B_34_HOLLING_14,0217B,34,13569,Salt Lake City 11th Ward,SALT LAKE,16,18,HOLLING,MARCUS,W,1,m,14.0,0,son,NaN,n,PRINTING APPRENTICE,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,GERMANY,ENGLAND

In [69]:
def replace_married(some_string):
   if some_string == 'm':
     return "married"
   if some_string == 's':
    return "single"
   elif some_string == 'w':
    return "widowed"

In [81]:
ut_df['marrystatus']=ut_df['marrystatus'].apply(replace_married)
ut_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,married,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,married,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,None,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,None,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,widowed,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,single,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH