In [1]:
ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer', 'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter', 'servant', 'farmer', 'weaver', 'servant', 'carpenter']

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

In [7]:
ages_lenth= len(ages)
occupations_lenth= len(occupations)
birth_place_lenth= len(birth_places)
print(ages_lenth)
print(occupations_lenth)
print(birth_place_lenth)

20
20
20

In [9]:
occupations[:5]

['farmer', 'servant', 'laborer', 'merchant', 'farmer']

In [11]:
from collections import Counter
Counter(occupations)

Counter({'farmer': 5,
         'servant': 5,
         'laborer': 3,
         'merchant': 2,
         'carpenter': 2,
         'teacher': 1,
         'blacksmith': 1,
         'weaver': 1})

In [13]:
Counter(ages)

Counter({45: 1,
         23: 1,
         16: 1,
         34: 1,
         64: 1,
         28: 1,
         42: 1,
         31: 1,
         27: 1,
         38: 1,
         17: 1,
         52: 1,
         29: 1,
         44: 1,
         33: 1,
         15: 1,
         61: 1,
         36: 1,
         18: 1,
         41: 1})

In [15]:
Counter(birth_places)

Counter({'Ireland': 11,
         'New York': 2,
         'England': 2,
         'Germany': 2,
         'Scotland': 2,
         'Wales': 1})

In [17]:
for number, occupation in enumerate(occupations):
    print(f"Person #{number}: {occupation}")

Person #0: farmer
Person #1: servant
Person #2: laborer
Person #3: merchant
Person #4: farmer
Person #5: servant
Person #6: teacher
Person #7: farmer
Person #8: laborer
Person #9: merchant
Person #10: servant
Person #11: farmer
Person #12: laborer
Person #13: blacksmith
Person #14: carpenter
Person #15: servant
Person #16: farmer
Person #17: weaver
Person #18: servant
Person #19: carpenter

In [25]:
for number, age in enumerate(ages):
    print(f"Person #{number}: {age}")

Person #0: 45
Person #1: 23
Person #2: 16
Person #3: 34
Person #4: 64
Person #5: 28
Person #6: 42
Person #7: 31
Person #8: 27
Person #9: 38
Person #10: 17
Person #11: 52
Person #12: 29
Person #13: 44
Person #14: 33
Person #15: 15
Person #16: 61
Person #17: 36
Person #18: 18
Person #19: 41

In [27]:
skilled_laborers = []
for occupation in occupations:
    if occupation == 'blacksmith' or occupation == 'carpenter' or occupation == 'weaver':
        skilled_laborers.append(occupation)
print(f"Number of skilled laborers: {len(skilled_laborers)}")

Number of skilled laborers: 4

In [29]:
birth_uk = []
for birth_place in birth_places:
    if birth_place == 'England' or birth_place == 'Ireland' or birth_place == 'Wales':
        birth_uk.append(birth_place)
print(f"Number of people born in UK: {len(birth_uk)}")

Number of people born in UK: 14

In [31]:
youth = []
for person in ages:
    if person < 30:
        youth.append(person)
print(f" {len(youth)}")

 8