In [1]:
# Create a dictionary mapping names to ages
ages_dict = {
    "Patrick Murphy": 45,
    "Mary Kelly": 23,
    "Thomas Williams": 16,
    "Elizabeth Smith": 34
}

# Print the entire dictionary
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34}

In [3]:
# Get Patrick's age using his name as the key
patricks_age = ages_dict["Patrick Murphy"]
print(f"Patrick Murphy is {patricks_age} years old.")

Patrick Murphy is 45 years old.

In [5]:
celebrity_ages = {
    "Taylor Swift": 35,
    "Olivia Rodrigo": 22,
    "Tom Hanks": 68,
    "Meryl Streep": 75
}

print(celebrity_ages)

{'Taylor Swift': 35, 'Olivia Rodrigo': 22, 'Tom Hanks': 68, 'Meryl Streep': 75}

In [11]:
Rodrigo_age= celebrity_ages["Olivia Rodrigo"]
print(f"Olivia Rodrigo is {Rodrigo_age} years old.")

Olivia Rodrigo is 22 years old.

In [13]:
# Add a new person to our ages dictionary
ages_dict["Michael Sullivan"] = 64
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34, 'Michael Sullivan': 64}

In [15]:
# Change someone's age
ages_dict["Thomas Williams"] = 17  # Thomas just had a birthday!
print(f"Updated age for Thomas: {ages_dict['Thomas Williams']}")

Updated age for Thomas: 17

In [17]:
celebrity_ages["Donald Trump"]= 78
celebrity_ages["Tom Hanks"]= 69
print(celebrity_ages)

{'Taylor Swift': 35, 'Olivia Rodrigo': 22, 'Tom Hanks': 69, 'Meryl Streep': 75, 'Donald Trump': 78}

In [19]:
# Loop through all names and ages
for name in ages_dict:
    print(f"{name} is {ages_dict[name]} years old.")

# A more elegant way using the .items() method
for name, age in ages_dict.items():
    print(f"{name} is {age} years old.")

Patrick Murphy is 45 years old.
Mary Kelly is 23 years old.
Thomas Williams is 17 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.
Patrick Murphy is 45 years old.
Mary Kelly is 23 years old.
Thomas Williams is 17 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.

In [21]:
# Find all people over 30
for name, age in ages_dict.items():
    if age > 30:
        print(f"{name} is {age} years old.")

Patrick Murphy is 45 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.

In [55]:
for name, age in celebrity_ages.items():
    if age>=13 and age<=28:
        print(f"{name} is Gen Z")
    elif age>=29 and age<=44:
        print(f"{name} is Millenial")
    elif age>=61 and age<=79:
        print(f"{name} is Boomer")

Taylor Swift is Millenial
Olivia Rodrigo is Gen Z
Tom Hanks is Boomer
Meryl Streep is Boomer
Donald Trump is Boomer

In [57]:
# Create one dictionary with all information about each person
census_data = {
    "Patrick Murphy": {
        "age": 45,
        "birth_place": "Ireland",
        "occupation": "farmer"
    },
    "Mary Kelly": {
        "age": 23,
        "birth_place": "Ireland",
        "occupation": "servant"
    },
    "Thomas Williams": {
        "age": 17,
        "birth_place": "Wales",
        "occupation": "laborer"
    },
    "Elizabeth Smith": {
    "age": 34,
    "birth_place": "England",
    "occupation": "servant"
    }
}

In [59]:
# Access data from our nested dictionary
print(census_data["Patrick Murphy"])
print(census_data["Patrick Murphy"]["occupation"])

{'age': 45, 'birth_place': 'Ireland', 'occupation': 'farmer'}
farmer

In [61]:
print(f"Mary Kelly is {census_data["Mary Kelly"]["age"]}.")

Mary Kelly is 23.

In [63]:
# Here are our lists of data
names = ["Patrick Murphy", "Mary Kelly", "Thomas Williams", "Elizabeth Smith", "Michael Sullivan",
         "Anna Schmidt", "William Johnson", "James O'Connor", "Bridget Walsh", "Robert Campbell",
         "Catherine Miller", "George Thompson", "Sean O'Neill", "David Jones", "Kevin Burke",
         "Margaret Wilson", "Donald Fraser", "Eileen Doyle", "Frieda Weber", "Timothy Ryan"]

ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer',
              'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter',
              'servant', 'farmer', 'weaver', 'servant', 'carpenter']

In [71]:
auto_census = {}

for i in range(len(names)):
    name = names[i]
    age = ages[i]
    birth_place = birth_places[i]
    occupation = occupations[i]
    
    auto_census[name] = {
        "age": age,
        "birth_place": birth_place,
        "occupation": occupation
    }

auto_census

{'Patrick Murphy': {'age': 45,
  'birth_place': 'Ireland',
  'occupation': 'farmer'},
 'Mary Kelly': {'age': 23, 'birth_place': 'Ireland', 'occupation': 'servant'},
 'Thomas Williams': {'age': 16,
  'birth_place': 'New York',
  'occupation': 'laborer'},
 'Elizabeth Smith': {'age': 34,
  'birth_place': 'England',
  'occupation': 'merchant'},
 'Michael Sullivan': {'age': 64,
  'birth_place': 'Ireland',
  'occupation': 'farmer'},
 'Anna Schmidt': {'age': 28,
  'birth_place': 'Germany',
  'occupation': 'servant'},
 'William Johnson': {'age': 42,
  'birth_place': 'New York',
  'occupation': 'teacher'},
 "James O'Connor": {'age': 31,
  'birth_place': 'Ireland',
  'occupation': 'farmer'},
 'Bridget Walsh': {'age': 27,
  'birth_place': 'Ireland',
  'occupation': 'laborer'},
 'Robert Campbell': {'age': 38,
  'birth_place': 'Scotland',
  'occupation': 'merchant'},
 'Catherine Miller': {'age': 17,
  'birth_place': 'Ireland',
  'occupation': 'servant'},
 'George Thompson': {'age': 52,
  'birth_place': 'England',
  'occupation': 'farmer'},
 "Sean O'Neill": {'age': 29,
  'birth_place': 'Ireland',
  'occupation': 'laborer'},
 'David Jones': {'age': 44,
  'birth_place': 'Wales',
  'occupation': 'blacksmith'},
 'Kevin Burke': {'age': 33,
  'birth_place': 'Ireland',
  'occupation': 'carpenter'},
 'Margaret Wilson': {'age': 15,
  'birth_place': 'Ireland',
  'occupation': 'servant'},
 'Donald Fraser': {'age': 61,
  'birth_place': 'Scotland',
  'occupation': 'farmer'},
 'Eileen Doyle': {'age': 36, 'birth_place': 'Ireland', 'occupation': 'weaver'},
 'Frieda Weber': {'age': 18,
  'birth_place': 'Germany',
  'occupation': 'servant'},
 'Timothy Ryan': {'age': 41,
  'birth_place': 'Ireland',
  'occupation': 'carpenter'}}